/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* merriweather-300 - latin */
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 300;
  src: local('Merriweather Light'), local('Merriweather-Light'),
       url('../fonts/merriweather-v8-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+ */
       url('../fonts/merriweather-v8-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* merriweather-regular - latin */
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  src: local('Merriweather'),
       url('../fonts/merriweather-v8-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+ */
       url('../fonts/merriweather-v8-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* merriweather-700 - latin */
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 700;
  src: local('Merriweather Bold'), local('Merriweather-Bold'),
       url('../fonts/merriweather-v8-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+ */
       url('../fonts/merriweather-v8-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* merriweather-900 - latin */
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 900;
  src: local('Merriweather Heavy'), local('Merriweather-Heavy'),
       url('../fonts/merriweather-v8-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+ */
       url('../fonts/merriweather-v8-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}




html, body
{
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    border:0;
    font-family: 'Merriweather', serif;
    color:#fff;
}


.screen
{
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    overflow: hidden;
}



.gameplay
{
    background: transparent url('../images/bg-xy-02.jpg') repeat;    
}

.gameplay .info-zone
{
    width:100%;
    height:44px;
    padding-top:12px;
    font-size: 14px;
    background: transparent url('../images/gp-info-bg-x.png') repeat-x;
}

.gameplay .play-zone
{
    position: absolute;
    width:100%;
    top:44px;
    bottom:183px;
}

.play-zone .player-info
{
    position: absolute;
    left:50%;
    bottom:-2px;
    margin:0 0 0 -196px;
}

.play-zone .left-opponent-info
{
    position: absolute;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    left:-181px; /* -196 + 16 - 1 */
    top:50%;
    margin:-16px 0 0 0;
}

.play-zone .teammate-info
{
    position: absolute;
    left:50%;
    top:-5px;
    margin:0 0 0 -196px;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.play-zone .right-opponent-info
{
    position: absolute;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    right:-181px;
    top:50%;
    margin:-16px 0 0 0;
}

#gp-sing-btn
{
    position:absolute;
    bottom:-4px;
    left: calc(50% + 206px);
    width:42px; 
    height:36px;
}


.gp-player-info-bg
{
    color:#fff;
    font-size: 14px;
}

.player-id
{
    height:32px;
    float:left;
    margin:0;
    padding:0;
    /*background-color: #7a7a7a;*/
}

    .player-type
    {
        float:left;
        margin:6px 4px 0 6px;
    }

    .player-name
    {
        float:left;
        margin:10px 0 0 2px;
        width:138px;
        height:18px;
        overflow: hidden;
        text-transform: uppercase;
        font-weight: 700;
    }


.player-roles
{
    height:32px;
    float:right;
    margin:0;
    padding:0;
    /*background-color: #ff0000;*/
}

    .player-team
    {
        float:right;
        width:30px;
        margin:10px 0 0 8px;
        font-weight: bold;
        text-align: center;
    }

    .player-buyer
    {
        float: right;
    }
    
        .player-buyer span
        {
            float:right;
        }
        
        .player-buyer .icon
        {
            margin:6px 2px 0 10px;
        }
        
        .player-buyer .amount
        {
            margin:10px 0 0 0;
            font-weight: bold;
        }
    
    .player-dealer
    {
        float: right;
        margin:6px 0 0 10px;
    }
    
    .player-singer
    {
        float: right;
    }
    
        .player-singer span
        {
            float:right;
        }
        
        .player-singer .icon
        {
            margin:6px 2px 0 0;
        }
        
        .player-singer .amount
        {
            margin:10px 0 0 0;
            font-weight: bold;
        }


.drop-zone
{
    width: 108px;
    height: 160px;
    position: absolute;
    border: 2px dashed #8b5535;
}

.player-drop-zone
{
    top:50%;
    left:50%;
    margin:10px 0 0 -54px;
}

.teammate-drop-zone
{
    bottom:50%;
    left:50%;
    margin:0 0 10px -54px;
}

.right-opponent-drop-zone
{
    left:50%;
    top:50%;
    margin:-80px 0 0 74px;
}

.left-opponent-drop-zone
{
    right:50%;
    top:50%;
    margin:-80px 74px 0 0;
}

.drop-zone h1.bid-amount
{
    position:absolute;
    width:100%;
    height:100%;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    line-height: 160px;
}


.drop-zone div.play-card
{
    position:relative;
    width:108px;
    height:160px;
    background-color:#fff;
    border-radius: 6px;
    box-shadow: 0px 0px 2px #000;
    /*-webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    transform: rotate(10deg);*/
}

.drop-zone div.play-card.triunfo
{
    background-color:#faca25;
}



.gameplay .card-zone
{
    position:absolute;
    width:100%;
    height:183px;
    bottom:0;
    background: transparent url('../images/gp-cards-bg-x.png') repeat-x;
}

.card-zone ul
{
    width:954px;
    height:160px;
    margin:12px auto 0;
    padding:0;
    list-style: none;
}

.card-zone ul li.card
{
    position:relative;
    width:108px;
    height:160px;
    padding:0px;
    margin:0 0 0 -14px;
    background-color:#fff;
    border-radius: 6px;
    box-shadow: 0px 4px 5px #000;
    float:left;

    -webkit-transition: transform 0.5s ease-in-out;
    -moz-transition: transform 0.5s ease-in-out;
    -ms-transition: transform 0.5s ease-in-out;
    -o-transition: transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
}

.card-zone ul li.card:first-child
{
    margin:0;
}

.card-zone ul li.card.triunfo
{
    background-color:#faca25;
}

.card-zone ul li.card a
{
    display:none;
    margin:51px auto 0;
}

.card-zone ul.in-turn li.card.valid:hover a
{
    display:block;
}

.card-zone ul li.card:hover
{
    z-index: 1000;
    box-shadow: 0px 6px 8px #000;
}

.card-zone ul.in-turn li.card.invalid
{    
    opacity: 0.20;
    filter: alpha(opacity=20);
    
    -ms-transform: scale(0.80, 0.80); /* IE 9 */
    -webkit-transform: scale(0.80, 0.80); /* Safari */
    transform: scale(0.80, 0.80);

    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}


/* DEBUG CARD ZONES */

#gp-debug-card-zone-teammate
{
    width:600px;
    height:130px;
    position:absolute;
    top:76px;
    left:50%;
    margin-left: -300px;
    overflow: hidden;
    
    filter: alpha(opacity=50);
    opacity: 0.5;
    
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

#gp-debug-card-zone-teammate:hover
{
    filter: alpha(opacity=100);
    opacity: 1.0;
}

#gp-debug-card-zone-teammate ul
{
    text-align: center;
    list-style: none;
}

#gp-debug-card-zone-teammate ul li.card
{
    display: inline-block;
    
    margin:0 0 0 -60px;
    background-color:#fff;
    border-radius: 6px;
    box-shadow: 0px 4px 5px #000;
    
    -ms-transform: scale(0.75,0.75); /* IE 9 */
    -webkit-transform: scale(0.75,0.75); /* Safari */
    transform: scale(0.75,0.75);
    transform-origin: top center;
}

#gp-debug-card-zone-teammate ul li.card:first-child
{
    margin:0 0 0 0;
}

#gp-debug-card-zone-teammate ul li.card.triunfo
{
    background-color:#faca25;
}


#gp-debug-card-zone-l-opponent
{
    position:absolute;
    width:90px;
    height:600px;
    top:50%;
    left:42px;
    margin-top: -300px;
    overflow: hidden;
    
    filter: alpha(opacity=50);
    opacity: 0.5;
    
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

#gp-debug-card-zone-l-opponent:hover
{
    filter: alpha(opacity=100);
    opacity: 1.0;
}

#gp-debug-card-zone-l-opponent ul
{
    list-style: none;
}

#gp-debug-card-zone-l-opponent ul li.card
{
    margin:-120px 0 0 0;
    background-color:#fff;
    border-radius: 6px;
    box-shadow: 0px 4px 5px #000;
    
    -ms-transform: scale(0.75,0.75); /* IE 9 */
    -webkit-transform: scale(0.75,0.75); /* Safari */
    transform: scale(0.75,0.75);
    transform-origin: top left;
}

#gp-debug-card-zone-l-opponent ul li.card:first-child
{
    margin:0 0 0 0;
}

#gp-debug-card-zone-l-opponent ul li.card.triunfo
{
    background-color:#faca25;
}


#gp-debug-card-zone-r-opponent
{
    position:absolute;
    width:90px;
    height:600px;
    top:50%;
    right:42px;
    margin-top: -300px;
    overflow: hidden;
    
    filter: alpha(opacity=50);
    opacity: 0.5;
    
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

#gp-debug-card-zone-r-opponent:hover
{
    filter: alpha(opacity=100);
    opacity: 1.0;
}

#gp-debug-card-zone-r-opponent ul
{
    list-style: none;
}

#gp-debug-card-zone-r-opponent ul li.card
{
    margin:-120px 0 0 0;
    background-color:#fff;
    border-radius: 6px;
    box-shadow: 0px 4px 5px #000;
    
    -ms-transform: scale(0.75,0.75); /* IE 9 */
    -webkit-transform: scale(0.75,0.75); /* Safari */
    transform: scale(0.75,0.75);
    transform-origin: top left;
}

#gp-debug-card-zone-r-opponent ul li.card:first-child
{
    margin:0 0 0 0;
}

#gp-debug-card-zone-r-opponent ul li.card.triunfo
{
    background-color:#faca25;
}




/* LOGIN SCREEN */
.login
{
    background: transparent url('../images/bg-xy-01.jpg') repeat;
}


.login .h-sep
{
    width:800px;
    height:4px;
    position:absolute;
    top:50%;
    left:calc(50% - 800px/2);
    background: transparent url('../images/hsep-bg-x.jpg') repeat-x;
}

.login .logo
{
    position:absolute;
    bottom: calc(50% + 40px);
    left: calc(50% - 132px);
}

.login .form-container
{
    position:absolute;
    width:700px;
    height:100px;
    top: calc(50% + 20px);
    left: calc(50% - 700px/2);
}
/* ******************* Register ******************** */
.register
{
    background: transparent url('../images/bg-xy-01.jpg') repeat;
}
.register .h-sep
{
    width:800px;
    height:4px;
    position:absolute;
    top:50%;
    left:calc(50% - 800px/2);
    background: transparent url('../images/hsep-bg-x.jpg') repeat-x;
}

.register .logo
{
    position:absolute;
    bottom: calc(50% + 40px);
    left: calc(50% - 132px);
}

.register .form-container
{
    position:absolute;
    width:700px;
    height:100px;
    top: calc(50% + 20px);
    left: calc(50% - 700px/2);
}

.form-control:focus
{
    border-color:#d69057 !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(229, 163, 110, .6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(229, 163, 110, .6);
}


/* MENU SCREEN */
.menu
{
    background: transparent url('../images/bg-xy-01.jpg') repeat;
}

.menu .h-sep
{
    width:600px;
    height:4px;
    position:absolute;
    left:calc(50% - 600px/2);
    background: transparent url('../images/hsep-bg-x.jpg') repeat-x;
}

.menu .h-sep.one
{
    top:calc(50% - 2px - 40px);
}

.menu .h-sep.two
{
    top:calc(50% - 2px + 40px);
}

.menu .logo
{
    position:absolute;
    bottom: calc(50% + 50px);
    left: calc(50% - 132px);
}

.menu p.username
{
    font-size: 14px;
    text-align: center;
    position:absolute;
    width:600px;
    top:calc(50% - 23px);
    left:calc(50% - 300px);
    line-height: 24px;
}

.menu p.username span
{
    font-size: 24px;
    font-weight: 700;
}

.menu .action-container
{
    position:absolute;
    width:700px;
    top: calc(50% + 60px);
    left: calc(50% - 700px/2);
}


/* LOBBY SCREEN */
.lobby
{
    background: transparent url('../images/bg-xy-01.jpg') repeat;
}

.lobby .h-sep
{
    width:600px;
    height:4px;
    position:absolute;
    left:calc(50% - 600px/2);
    background: transparent url('../images/hsep-bg-x.jpg') repeat-x;
}

.lobby .logo
{
    position:absolute;
    bottom: calc(50% + 130px);
    left: calc(50% - 132px);
}

.lobby .h-sep.one
{
    top:calc(50% - 2px - 120px);
}

.lobby .players-container
{
    position:absolute;
    width:700px;
    top: calc(50% - 90px);
    left: calc(50% - 700px/2);
}

.lobby .players-container h2
{
    font-size: 18px;
    font-weight: 700;
    text-align:center;
    margin-bottom: 15px;
}

.lobby .player-slot-filled
{
    width:392px;
    height:52px;
    background-color: #fff;
    color:#62361e;
    margin:10px auto 10px auto;
    border-radius: 6px;
}

.lobby .player-slot-filled p
{
    padding-top: 15px;
    text-align:center;
    font-size: 22px;
    font-weight: 700;
}

.lobby .player-slot-waiting
{
    width:392px;
    height:52px;
    background-color: transparent;
    color:#fff;
    margin:10px auto 10px auto;
    border:2px solid #fff;
    border-radius: 6px;
}

.lobby .player-slot-waiting p
{
    padding-top: 16px;
    text-align:center;
    font-size: 16px;
    font-weight: 700;
}

#lb-progress-indicator, #gp-progress-indicator, #lg-progress-indicator, #mn-progress-indicator
{
	position:relative;
	width:30px;
	height:30px;
	margin: auto;
}

#gp-progress-indicator
{
    position:absolute !important;
    display: none;
}

#lb-progress-indicator .bullet, #gp-progress-indicator .bullet, #lg-progress-indicator .bullet, #mn-progress-indicator bullet
{
	position:absolute;
	background-color:rgb(255,255,255);
	width:7px;
	height:7px;
	border-radius:4px;
		-o-border-radius:4px;
		-ms-border-radius:4px;
		-webkit-border-radius:4px;
		-moz-border-radius:4px;
	animation-name:bounce_circularG;
		-o-animation-name:bounce_circularG;
		-ms-animation-name:bounce_circularG;
		-webkit-animation-name:bounce_circularG;
		-moz-animation-name:bounce_circularG;
	animation-duration:0.668s;
		-o-animation-duration:0.668s;
		-ms-animation-duration:0.668s;
		-webkit-animation-duration:0.668s;
		-moz-animation-duration:0.668s;
	animation-iteration-count:infinite;
		-o-animation-iteration-count:infinite;
		-ms-animation-iteration-count:infinite;
		-webkit-animation-iteration-count:infinite;
		-moz-animation-iteration-count:infinite;
	animation-direction:normal;
		-o-animation-direction:normal;
		-ms-animation-direction:normal;
		-webkit-animation-direction:normal;
		-moz-animation-direction:normal;
}

#lb-progress-indicator .bullet.one, #gp-progress-indicator .bullet.one, #lg-progress-indicator .bullet.one, #mn-progress-indicator .bullet.one
{
	left:0;
	top:12px;
	animation-delay:0.248s;
		-o-animation-delay:0.248s;
		-ms-animation-delay:0.248s;
		-webkit-animation-delay:0.248s;
		-moz-animation-delay:0.248s;
}

#lb-progress-indicator .bullet.two, #gp-progress-indicator .bullet.two, #lg-progress-indicator .bullet.two, #mn-progress-indicator .bullet.two
{
	left:3px;
	top:3px;
	animation-delay:0.334s;
		-o-animation-delay:0.334s;
		-ms-animation-delay:0.334s;
		-webkit-animation-delay:0.334s;
		-moz-animation-delay:0.334s;
}

#lb-progress-indicator .bullet.three, #gp-progress-indicator .bullet.three, #lg-progress-indicator .bullet.three, #mn-progress-indicator .bullet.three
{
	top:0;
	left:12px;
	animation-delay:0.42s;
		-o-animation-delay:0.42s;
		-ms-animation-delay:0.42s;
		-webkit-animation-delay:0.42s;
		-moz-animation-delay:0.42s;
}

#lb-progress-indicator .bullet.four, #gp-progress-indicator .bullet.four, #lg-progress-indicator .bullet.four, #mn-progress-indicator .bullet.four
{
	right:3px;
	top:3px;
	animation-delay:0.506s;
		-o-animation-delay:0.506s;
		-ms-animation-delay:0.506s;
		-webkit-animation-delay:0.506s;
		-moz-animation-delay:0.506s;
}

#lb-progress-indicator .bullet.five, #gp-progress-indicator .bullet.five, #lg-progress-indicator .bullet.five, #mn-progress-indicator .bullet.five
{
	right:0;
	top:12px;
	animation-delay:0.592s;
		-o-animation-delay:0.592s;
		-ms-animation-delay:0.592s;
		-webkit-animation-delay:0.592s;
		-moz-animation-delay:0.592s;
}

#lb-progress-indicator .bullet.six, #gp-progress-indicator .bullet.six, #lg-progress-indicator .bullet.six, #mn-progress-indicator .bullet.six
{
	right:3px;
	bottom:3px;
	animation-delay:0.668s;
		-o-animation-delay:0.668s;
		-ms-animation-delay:0.668s;
		-webkit-animation-delay:0.668s;
		-moz-animation-delay:0.668s;
}

#lb-progress-indicator .bullet.seven, #gp-progress-indicator .bullet.seven, #lg-progress-indicator .bullet.seven, #mn-progress-indicator .bullet.seven
{
	left:12px;
	bottom:0;
	animation-delay:0.754s;
		-o-animation-delay:0.754s;
		-ms-animation-delay:0.754s;
		-webkit-animation-delay:0.754s;
		-moz-animation-delay:0.754s;
}

#lb-progress-indicator .bullet.eight, #gp-progress-indicator .bullet.eight, #lg-progress-indicator .bullet.eight, #mn-progress-indicator .bullet.eight
{
	left:3px;
	bottom:3px;
	animation-delay:0.84s;
		-o-animation-delay:0.84s;
		-ms-animation-delay:0.84s;
		-webkit-animation-delay:0.84s;
		-moz-animation-delay:0.84s;
}




/* SEARCH SCREEN */
.search
{
    background: transparent url('../images/bg-xy-01.jpg') repeat;
    overflow: auto;
}

.search .title
{
    width: 704px;
    margin: 20px auto 0;
}

.search .h-sep
{
    width:600px;
    height:4px;
    margin: 15px auto;
    background: transparent url('../images/hsep-bg-x.jpg') repeat-x;
}

.search .wrap
{
    width: 960px;
    margin: 0 auto;
    text-align:center;
}

.search .wrap label
{
    font-size: 22px;
    font-weight:bold;
}

#sr-search-btn
{
    vertical-align:middle;
}

#sr-results
{
    width: 824px;
    margin: 15px auto;
}

.search .game-result-item 
{
    position: relative;
    cursor: pointer;
}

.search .game-result-item .info-labels 
{
    text-align: center;
    font-size: 12px;
    color: #422818;
    padding: 12px 0px 0px;
}

.search .game-result-item .info-values 
{
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    color: #fff;
    padding: 8px 0px 0px;
}

.search .game-result-item .team-a-score
{
    font-size: 16px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    position: absolute;
    width: 76px;
    left: 4px;
    bottom: 10px;
}

.search .game-result-item .team-b-score
{
    font-size: 16px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    position: absolute;
    width: 76px;
    right: 4px;
    bottom: 10px;
}

.search .game-result-item .players
{
    position: absolute;
    width: 654px;
    height: 74px;
    bottom: 0;
    left: 85px;
    font-size:18px;
    font-weight:bold;
}

.search .game-result-item .players .row
{
    padding: 4px 8px;
}


.search .spinner {
  width: 40px;
  height: 40px;
  background-color: #fff;

  margin: 10px auto;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
  0% { 
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
  } 50% { 
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
  } 100% { 
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}








.watch
{
    background: transparent url('../images/bg-xy-02.jpg') repeat;    
}

.watch .global-info-zone
{
    position:relative;
    width:100%;
    height:44px;
    padding-top:12px;
    font-size: 14px;
    background: transparent url('../images/gp-info-bg-x.png') repeat-x;
}

.watch .play-zone
{
    position: absolute;
    width:100%;
    top:44px;
    bottom:0px;
    /*background-color:white;*/
}

.watch .play-zone .player-0-info
{
    position: absolute;
    left:50%;
    bottom:-2px;
    margin:0 0 0 -196px;
}

.watch .play-zone .player-3-info
{
    position: absolute;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    left:-181px; /* -196 + 16 - 1 */
    top:50%;
    margin:-16px 0 0 0;
}

.watch .play-zone .player-2-info
{
    position: absolute;
    left:50%;
    top:-5px;
    margin:0 0 0 -196px;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.watch .play-zone .player-1-info
{
    position: absolute;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    right:-181px;
    top:50%;
    margin:-16px 0 0 0;
}


.watch .drop-zone
{
    width: 108px;
    height: 160px;
    position: absolute;
    border: 2px dashed #8b5535;
}

.watch .player-0-drop-zone
{
    top:50%;
    left:50%;
    margin:10px 0 0 -54px;
}

.watch .player-2-drop-zone
{
    bottom:50%;
    left:50%;
    margin:0 0 10px -54px;
}

.watch .player-1-drop-zone
{
    left:50%;
    top:50%;
    margin:-80px 0 0 74px;
}

.watch .player-3-drop-zone
{
    right:50%;
    top:50%;
    margin:-80px 74px 0 0;
}



.watch .card-zone
{
    position:absolute;
    /*overflow: hidden;*/

    filter: alpha(opacity=50);
    opacity: 0.5;
    
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

.watch .card-zone:hover
{
    filter: alpha(opacity=100);
    opacity: 1.0;
}

.watch .card-zone ul
{
    padding:0;
    margin:0;
    border:0;
    text-align: center;
    list-style: none;
    width:100%;
    height:100%;
}

.watch .card-zone ul li.card
{
    display: inline-block;    
    background-color:#fff;
    border-radius: 6px;
    box-shadow: 0px 4px 5px #000;
    
    -ms-transform: scale(0.75,0.75); /* IE 9 */
    -webkit-transform: scale(0.75,0.75); /* Safari */
    transform: scale(0.75,0.75);
    transform-origin: top center;
}

.watch .card-zone ul li.card:first-child
{
    margin:0 0 0 0 !important;
}

.watch .card-zone ul li.card.triunfo
{
    background-color:#faca25;
}


#wa-card-zone-player-0, #wa-card-zone-player-2
{
    width:600px !important;
    height:130px !important;
    margin-left: -300px;
}

#wa-card-zone-player-0
{    
    bottom:32px;
    left:50%;
}

#wa-card-zone-player-2
{
    top:32px;
    left:50%;
}

#wa-card-zone-player-0 ul li.card, #wa-card-zone-player-2 ul li.card
{
    margin:0 0 0 -54px;
}

#wa-card-zone-player-1, #wa-card-zone-player-3
{
    width:90px;
    height:5120px;    
    margin-top: -256px;
}

#wa-card-zone-player-1
{
    top:50%;
    right:50px;
}

#wa-card-zone-player-3
{
    top:50%;
    left:30px;
}

#wa-card-zone-player-1 ul li.card, #wa-card-zone-player-3 ul li.card
{
    margin:-118px 0 0 0;
}

#wa-replay-controls
{
    position:absolute;
    top:0;
    right:0;
    width: 400px;
    height: 40px;
    /*background-color: red;*/
}

#wa-replay-controls a
{
    display:block;
    float:right;
    padding:0;
    margin:0;
    border:0;
    height:100%;
}

#wa-replay-controls a:active
{
    padding-top: 1px;
}

#wa-btn-toggle-comments:active
{
    padding:0;
}


#wa-comments-zone
{
    position:absolute;
    top:40px;
    right:0;
    margin-top: -9px;
    z-index:9999;
    display:none;
}

#wa-comments
{
    position:absolute;
    top:12px;
    left:28px;
    right:8px;
    height:116px;
    overflow:auto;
    /*background-color: red;*/
}

#wa-comments p.wa-comment
{
    margin: 10px 0 0;
    font-size: 12px;
    line-height:16px;
}

#wa-comments p.wa-comment:first-child
{
    margin: 4px 0 0;
}

#wa-comments span.wa-comment-author
{
    font-weight: bold;
    text-decoration: underline;

}


#wa-comment-textarea
{
    position:absolute;
    top:136px;
    left:28px;
    right:8px;
    height:60px;
    overflow:hidden;
    /*background-color: green;*/
}

#wa-comment-textarea textarea
{
    width: 100%;
    height: 100%;
    resize: none;
    max-width: 100%; 
    max-height: 100%;
    font-size: 12px;
}

#wa-comment-buttons
{
    position:absolute;
    top:204px;
    left:26px;
    right:0;
    height:34px;
    /*background-color: green;*/
    padding:0;
    margin:0;
    border:0;
}

#wa-comment-buttons a
{
    display:block;
    width: 112px;
    height: 34px;
    margin-right: 0px;
    float: left;
}

#wa-announcer-popup
{
    position: absolute;
    height:300px;
    left:160px;
    right:160px;
    top:calc(50% - 150px);
    background-color: rgba(0, 0, 0, 0.5);
    display:none;
}

    #wa-announcer-popup p.message
    {
        width:100%;
        height: 100%;
        padding:0;
        font-size: 48px;
        font-weight: 700;
        color:#fff;
        z-index: 10;
        text-align: center;
        line-height: 300px;
    }


#wa-back-btn
{
    position:absolute;
    right: 10px;
    bottom: 10px;
}






@keyframes bounce_circularG{
	0%{
		transform:scale(1);
	}

	100%{
		transform:scale(.3);
	}
}

@-o-keyframes bounce_circularG{
	0%{
		-o-transform:scale(1);
	}

	100%{
		-o-transform:scale(.3);
	}
}

@-ms-keyframes bounce_circularG{
	0%{
		-ms-transform:scale(1);
	}

	100%{
		-ms-transform:scale(.3);
	}
}

@-webkit-keyframes bounce_circularG{
	0%{
		-webkit-transform:scale(1);
	}

	100%{
		-webkit-transform:scale(.3);
	}
}

@-moz-keyframes bounce_circularG{
	0%{
		-moz-transform:scale(1);
	}

	100%{
		-moz-transform:scale(.3);
	}
}

.lobby .h-sep.two
{
    top:calc(50% - 2px + 230px);
}

.lobby .action-container
{
    position:absolute;
    width:700px;
    top:calc(50% + 245px);
    left: calc(50% - 700px/2);
}





a.disabled
{
    opacity: 0.5;
}


#gp-announcer-popup
{
    position: absolute;
    width:100%;
    height:300px;
    left:0;
    top:calc(50% - 150px);
    background-color: #000;
    display:none;
}
    
    #gp-announcer-popup p.message
    {
        width:100%;
        height: 100%;
        padding:0;
        font-size: 48px;
        font-weight: 700;
        color:#fff;
        z-index: 10;
        text-align: center;
        line-height: 300px;
    }





.modal-dialog
{
    color:#000;
}

#gp-bidding-dialog .bid-amount
{
    font-size: 64px;
}

#gp-bidding-dialog a.bid-amount-btn
{
    display:block;
    margin:14px auto 0;
}

#gp-bidding-dialog .modal-footer
{
    text-align: center;
}


#gp-triunfo-selection-dialog .triunfo-color-btn.selected
{
    background-color: #faca25;
    /*box-shadow: 0px 0px 15px #faca25;*/
}


#gp-game-results-dialog .modal-dialog
{
    width: 960px;
}

#gp-game-results-dialog .team
{
    font-size: 36px;
}

#gp-game-results-dialog .team-members
{
    font-size:12px;
    color:#777;
}

#gp-game-results-dialog .team-game-score
{
    margin:12px 0 5px;
    font-size: 24px;
    font-weight: bold;
}

#gp-game-results-dialog .team-tournament-score
{
    margin:12px 0 5px;
    font-size: 24px;
    font-weight: bold;
}

#gp-game-results-dialog .team-won-rounds
{
    margin:10px 0 30px;
}

#gp-game-results-dialog .team-won-rounds ul.rounds
{
    text-align: center;
    list-style: none;
}

#gp-game-results-dialog .team-won-rounds ul.rounds li.round
{
    position:relative;
    display:inline-block;
    width:80px;
    height:80px;
    color:#fff;
    background: #854F29;
    border: 2px solid #522E1E;
    border-radius: 6px;
}

#gp-game-results-dialog .team-won-rounds ul.rounds li.round:hover
{
    color:#522E1E;
    background: #fff;
    border: 2px solid #854F29;
}

#gp-game-results-dialog .team-won-rounds ul.rounds li.round h1
{
    line-height: 80px !important;
    vertical-align: middle;
}

#gp-game-results-dialog .team-won-rounds ul.rounds li.round ul.cards
{
    position:absolute;
    display:none;
    text-align: center;
    list-style: none;
    width:300px;
    top:85px;
    left:-110px;
    z-index: 1000;
}

#gp-game-results-dialog .team-won-rounds ul.rounds li.round:hover ul.cards
{
    display:block;
}

#gp-game-results-dialog .team-won-rounds ul.cards li.card
{
    float:left;
    
    margin:0 0 0 -44px;
    background-color:#fff;
    border-radius: 6px;
    /*box-shadow: 0px 2px 5px #000;*/
    
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.45);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.45);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.45);
    
    -ms-transform: scale(0.75,0.75); /* IE 9 */
    -webkit-transform: scale(0.75,0.75); /* Safari */
    transform: scale(0.75,0.75);
    transform-origin: top center;
}

#gp-game-results-dialog .team-won-rounds ul.cards li.card:first-child
{
    margin:0;
}


#gp-game-results-dialog h1, #gp-tournament-results-dialog h1
{
    font-size: 48px;
}

#gp-game-results-dialog p.players, #gp-tournament-results-dialog p.players
{
    color:#8b5535;
    font-size:12px;
}

#gp-game-results-dialog h2.score, #gp-tournament-results-dialog h2.score
{
    font-size: 32px;
}


#gp-sing-dialog .song-color-btn
{
    display:block;
    width:128px;
    margin:0 auto; 
    overflow:hidden;
    height:220px;
    position:relative;
}

#gp-sing-dialog .song-color-btn .card
{
    width:108px;
    height:160px;
    padding:0px;
    background-color:#fff;
    position:absolute;
    top:0;
    left:10px;
}

#gp-sing-dialog .song-color-btn .card:nth-child(2)
{
    top:60px;
}

#gp-sing-dialog .song-color-btn.selected .card
{
    background-color: #faca25;
}


.badge
{
    background-color: #ff0000 !important;
}


#lg-login-btn:disabled,
#lg-login-btn[disabled=disabled],
#mn-new-game-btn:disabled,
#mn-new-game-btn[disabled=disabled],
#lb-start-game-btn:disabled,
#lb-start-game-btn[disabled=disabled],
#sr-search-btn:disabled,
#sr-search-btn[disabled=disabled],
#wa-btn-toggle-comments:disabled,
#wa-btn-toggle-comments[disabled=disabled]
{
    opacity: 0.5;
    filter: alpha(opacity=50);
}



/* usage: <span class="{-spritename-} sprite"></span> */
#register-btn{
    display:inline-block; 
    overflow:hidden; 
    background-repeat: no-repeat;
    border-radius: 8px;
    width: 173px;
    height: 49px;
    /*box-shadow: 3px 2px 2px rgb(226, 106, 36);
    /*background-image:url('../images/bg-xy-02.jpg');*/
    background: url('../images/register.png') no-repeat;

}
#register-btn-valider{
    display:inline-block; 
    overflow:hidden; 
    background-repeat: no-repeat;
    border-radius: 8px;
    width: 173px;
    height: 49px;
    /*box-shadow: 3px 2px 2px rgb(226, 106, 36);
    /*background-image:url('../images/bg-xy-02.jpg');*/
    background: url('../images/register.png') no-repeat;

}
.sprite
{
    display:inline-block; 
    overflow:hidden; 
    background-repeat: no-repeat;
    background-image:url('../images/spritesheet.png');
}


.add139 {width:32px; height:32px; background-position: -913px -668px}
.c-1-bastos {width:108px; height:160px; background-position: -1px -653px}
.c-1-copas {width:108px; height:160px; background-position: -1px -819px}
.c-1-espadas {width:108px; height:160px; background-position: -115px -653px}
.c-1-oros {width:108px; height:160px; background-position: -1px -985px}
.c-10-bastos {width:108px; height:160px; background-position: -115px -819px}
.c-10-copas {width:108px; height:160px; background-position: -229px -653px}
.c-10-espadas {width:108px; height:160px; background-position: -1px -1151px}
.c-10-oros {width:108px; height:160px; background-position: -115px -985px}
.c-11-bastos {width:108px; height:160px; background-position: -229px -819px}
.c-11-copas {width:108px; height:160px; background-position: -115px -1151px}
.c-11-espadas {width:108px; height:160px; background-position: -229px -985px}
.c-11-oros {width:108px; height:160px; background-position: -229px -1151px}
.c-12-bastos {width:108px; height:160px; background-position: -831px -1px}
.c-12-copas {width:108px; height:160px; background-position: -820px -167px}
.c-12-espadas {width:108px; height:160px; background-position: -289px -393px}
.c-12-oros {width:108px; height:160px; background-position: -403px -393px}
.c-2-bastos {width:108px; height:160px; background-position: -343px -653px}
.c-2-copas {width:108px; height:160px; background-position: -343px -819px}
.c-2-espadas {width:108px; height:160px; background-position: -343px -985px}
.c-2-oros {width:108px; height:160px; background-position: -343px -1151px}
.c-3-bastos {width:108px; height:160px; background-position: -517px -335px}
.c-3-copas {width:108px; height:160px; background-position: -631px -335px}
.c-3-espadas {width:108px; height:160px; background-position: -745px -335px}
.c-3-oros {width:108px; height:160px; background-position: -859px -333px}
.c-4-bastos {width:108px; height:160px; background-position: -457px -623px}
.c-4-copas {width:108px; height:160px; background-position: -457px -789px}
.c-4-espadas {width:108px; height:160px; background-position: -457px -955px}
.c-4-oros {width:108px; height:160px; background-position: -457px -1121px}
.c-5-bastos {width:108px; height:160px; background-position: -571px -561px}
.c-5-copas {width:108px; height:160px; background-position: -571px -727px}
.c-5-espadas {width:108px; height:160px; background-position: -571px -893px}
.c-5-oros {width:108px; height:160px; background-position: -571px -1059px}
.c-6-bastos {width:108px; height:160px; background-position: -685px -565px}
.c-6-copas {width:108px; height:160px; background-position: -685px -731px}
.c-6-espadas {width:108px; height:160px; background-position: -799px -565px}
.c-6-oros {width:108px; height:160px; background-position: -685px -897px}
.c-7-bastos {width:108px; height:160px; background-position: -799px -731px}
.c-7-copas {width:108px; height:160px; background-position: -799px -897px}
.c-7-espadas {width:108px; height:160px; background-position: -685px -1063px}
.c-7-oros {width:108px; height:160px; background-position: -799px -1063px}
.gp-btn-play-s {width:92px; height:48px; background-position: -799px -1269px}
.gp-btn-play-s:active {width:92px; height:48px; background-position: -897px -1269px}
.gp-btn-sing-s {width:42px; height:35px; background-position: -945px -139px}
.gp-btn-sing-s:active {width:42px; height:35px; background-position: -913px -627px}
.gp-icon-ai {width:24px; height:20px; background-position: -457px -1287px}
.gp-icon-buyer {width:16px; height:21px; background-position: -961px -627px}
.gp-icon-dealer {width:20px; height:20px; background-position: -487px -1287px}
.gp-icon-human {width:16px; height:20px; background-position: -913px -770px}
.gp-icon-song {width:20px; height:22px; background-position: -262px -393px}
.gp-player-info-bg {width:392px; height:32px; background-position: -1px -615px}
.lb-btn-start-game-s {width:282px; height:58px; background-position: -532px -143px}
.lb-btn-start-game-s:active {width:282px; height:58px; background-position: -532px -207px}
.lg-btn-login-s {width:192px; height:58px; background-position: -262px -329px}
.lg-btn-login-s:active {width:192px; height:58px; background-position: -716px -501px}
.logo {width:264px; height:180px; background-position: -262px -143px}
.minus87 {width:32px; height:32px; background-position: -913px -706px}
.mn-btn-new-game-s {width:282px; height:58px; background-position: -532px -271px}
.mn-btn-new-game-s:active {width:282px; height:58px; background-position: -1px -423px}
.mn-btn-watch-game-s {width:282px; height:58px; background-position: -1px -487px}
.mn-btn-watch-game-s:active {width:282px; height:58px; background-position: -1px -551px}
.sr-btn-back-s {width:104px; height:58px; background-position: -407px -559px}
.sr-btn-back-s:active {width:104px; height:58px; background-position: -571px -1225px}
.sr-btn-search-s {width:64px; height:58px; background-position: -914px -499px}
.sr-btn-search-s:active {width:64px; height:58px; background-position: -914px -563px}
.sr-game-result-item-bg {width:824px; height:136px; background-position: -1px -1px}
.sr-icon-ai {width:24px; height:20px; background-position: -913px -744px}
.sr-icon-human {width:16px; height:20px; background-position: -513px -1287px}
.sr-title {width:193px; height:54px; background-position: -517px -501px}
.wa-btn-close-comments-s {width:112px; height:34px; background-position: -289px -559px}
.wa-btn-close-comments-s:active {width:112px; height:34px; background-position: -681px -1229px}
.wa-btn-show-comments-s {width:51px; height:40px; background-position: -460px -329px}
.wa-btn-show-comments-s:active {width:51px; height:40px; background-position: -934px -180px}
.wa-btn-submit-comment-s {width:112px; height:34px; background-position: -799px -1229px}
.wa-btn-submit-comment-s:active {width:112px; height:34px; background-position: -681px -1269px}
.wa-comment-zone-bg {width:255px; height:274px; background-position: -1px -143px}
.wa-icon-finish {width:40px; height:40px; background-position: -945px -1px}
.wa-icon-next {width:40px; height:40px; background-position: -517px -561px}
.wa-icon-pause {width:40px; height:40px; background-position: -945px -47px}
.wa-icon-play {width:40px; height:40px; background-position: -945px -93px}
.wa-icon-prev {width:40px; height:40px; background-position: -934px -226px}
.wa-icon-rewind {width:40px; height:40px; background-position: -934px -272px}
